[submodule "sdl"]
	path = extern/sdl
	branch = SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
